.colorDeCampo {
	background-color: #6aba77;
	font-weight: bolder;
}

.cheap {
	background-color: #54a90a !important;
	background-image: none !important;
	color: #ffffff !important;
}

.em{
	
	color: blue;
	font-style: italic;
	text-decoration: underline;
}

.mark {
	background-color: lightgrey;
}


.negrita {
	text-decoration: underline;
	color: blue;
}

.rojastrong {
	color: #CC0000;
}


.especialstrong {
  font-weight: bold;
  color: #000066;
  padding: 2px;
}