/*Centra la p�gina web*/
.resolucion {     
    width: 100%; margin: 1 auto;background-color: aqua;
	background: url("../resources/images/FondoSiscyf.jpeg");
       background-size: 98%;
	background-repeat: no-repeat;
}

.ui-widget {
    font-size: 80% !important;
}
.ui-widget .ui-widget {
    font-size: 100% !important;
}

.body{
	background-color: aqua;
	background: url("#{resources['images:banner.png']}");
	background-size: 80%;
	background-position: bottom;
	background-repeat: no-repeat;
}
